<p>resistencia works!</p>

<section class="row col-md-12 text-center card justify-content-center">
    <div class="col-md-12 card justify-content-center  text-center">
        <h1>1ra banda</h1>
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>negro</p>
        </div>
        
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>cafe</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>rojo</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>naranja</p>
        </div>

            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>amarillo</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>verde</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>azul</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>morado</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>gris</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>plata</p>
        </div>
        
    </div>





    <div class="col-md-04">
        <h1>2da banda</h1>
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>negro</p>
        </div>
        
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>cafe</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>rojo</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>naranja</p>
        </div>

            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>amarillo</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>verde</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>azul</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>morado</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>gris</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>plata</p>
        </div>
    </div>







    <div class="col-md-04">
        <h1>3ra banda</h1>
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>negro</p>
        </div>
        
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>cafe</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>rojo</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>naranja</p>
        </div>

            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>amarillo</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>verde</p>
        </div>

        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>azul</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>morado</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>gris</p>
        </div>
            
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>plata</p>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12 card justify-content-center  text-center">
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>dorado 5%</p>
        </div>
        <div class="d-flex align-items-center col-md-12 justify-content-center">
            <input type="radio" name="color1"><p>plata 10%</p>
        </div>
        <button class="btn btn-primary mx-auto row col-md-3 justify-content-center">Calcular</button>
    </div>
</section>
